body{
    font-size: 15px;
    font-family: Spartan;
    background: url(./images/bg-pattern-top-desktop.svg) top no-repeat,
    url(./images/bg-pattern-bottom-desktop.svg) bottom no-repeat ;
    
}
h1, h2{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.principal{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: start;
    margin:20px 20px;
    gap: 20px;
    
}
.texto{
    margin-left: 100px;
    width: 30%;
    height: auto;
    
    
}
.Rated{
    width: 50%;
}
.rated-car{
    background: hsl(303, 10%, 53%);
    display: flex;
    width: 90%;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.308);
}
.tw{
    margin-left: 50px;
}
.tr{
    margin-left: 100px;
}
.cards{
    display: flex;
    width: 90%;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    gap: 20px;
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    
    
    height: 100%;
    background: hsl(300, 43%, 22%);
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.card p{
    margin: 20px 20px;
}
.perfil{
    margin: 20px 20px;
}
.perfil img{
    border-radius: 50px;
}
.name  {
    margin-left: 20px;
}
.img{
    background: url(./images/icon-star.svg);
    background-repeat: repeat-x;
    
    width: 85px;
    height: 20px;
    

}
.name{
    font-size: 10px;
}
.name h2{
    color: white;
}
.name .b{
color: hsl(333, 80%, 67%);
}
.attribution{
    margin-top: 100px;
}
.card.tw{
    margin-top: 20px;
}
.card.tr{
    margin-top: 40px;
}
@media (min-width:1500px)
{
    body{
        height: 100vh;
        
    }
    .container{
        height: 100vh;
        justify-content: center;
    }
    .attribution{
        margin-top: 300px;
    }
}
@media (max-width:800px)
{   
    
    .container
    {
        align-items: center;
        justify-content: center;
    }
    .cards{
        height: auto;
        flex-direction: column;
        align-items: center ;
        
    }
    .principal{
        flex-direction: column;
        align-items: center;
    }
    .texto{
        width: 80%;
        text-align: center;
        margin-left: 0;
        
    }
    .Rated{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
        
        width: 100%; 
    }
    .card{
        width: 80%;
        
    }
    .rated-car{
        flex-direction: column;
       align-items: center;
        margin-left: 0px;
            width: 90%;
            padding: 10px;
    }
    .tw{
        margin-left: 0;
    }
    .tr{
    margin-left: 0;
    }
    .card.tr,.card.tw{
        margin-top: 0;
        
    }
    
}